# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.idea

# Examples
axisem3d
simu1D/
simu3D/
simu_with_1d_crust/
simu_with_3d_crust/
.ipynb_checkpoints/
build*/
.cache/
examples/*/output/
examples/*/output__backup_at_*/
tests/*/output__backup_at_*/
# Documentation
.venv

# Website Files
_site/
Gemfile.lock
